#button1 {
    background-color: lightgreen;
    border-color: black;
    color: black;
}

#button2 {
    background-color: lightblue;
    border-color: black;
    color: black;
}

#button3 {
    background-color: yellow;
    border-color: black;
    color: black;
}

#button4 {
    background-color: orange;
    border-color: black;
    color: black;
}

#button5 {
    background-color: red;
    border-color: black;
    color: black;
}